<div class="card-main-container">
    <div class="card-left-side-container">
        <div class="value-container">
            <h2>
                {{value}}%
            </h2>
        </div>
        <div class="header-container">
            <h3>
                {{header}}
            </h3>
        </div>
        <div class="sub-header-container">
            {{subHeader}}
        </div>
    </div>
    <div class="card-right-side-container">
        <i class="fa-solid fa-music" style="color: #ededed;"></i>
        <i class="fa-solid fa-chart-pie" style="color: #ededed;"></i>
        <i class="fa-solid fa-download" style="color: #ededed;"></i>
        <i class="fa-solid fa-rotate" style="color: #ededed;"></i>
    </div>
</div>