<div class="new-user-card-main-container">
    <div class="car-container">
        <div class="photo-container">
            <img src="imgSrc">
        </div>
        <div class="name-and-country-details-container">
            <div class="name-container">
                {{userName}}
            </div>
            <div class="country-container">
                {{userCountry}}
            </div>
        </div>
        <div class="status-bar-container">
            {{statusCount}}
        </div>
        <div class="more-button-container">
            <button type="button">
                More
            </button>
        </div>
    </div>
</div>