*,
body,
html {
    margin: 0 !important
}

.app-main-container {
    height: 100vh;
    background-color: rgb(244, 247, 252);

    .fixed-nav-bars {
        .top-bar-component-container {
            display: flex;
            align-items: center;

            .ham-burger-icon {
                // margin-right: 10px;
                background-color: blue;
                height: 30px;
                display: flex;
                width: 28px;
                justify-content: center;
                align-items: center;

            }

            .top-bar {
                width: 100%;
            }
        }

        .body-container {
            display: flex;

            .side-bar-component-container {
                width: 3rem;
            }

            .content-container {
                width: calc(100% - 3rem);
                display: flex;
                flex-direction: column;
              
                .top-section-container {
                  width: 100%;
                //   display: block;
                }
              
                .middle-section-container {
                //   display: block;
                }
              }
              
        }
    }

    .content-container {
        // background-color: blue;

        .top-section-container {
            // background-color: red;
        }
    }
}