<div class="app-main-container">
  <div class="fixed-nav-bars">
    <div class="top-bar-component-container">
      <div class="ham-burger-icon">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="top-bar">
        <app-top-bar></app-top-bar>
      </div>
    </div>
    <div class="side-bar-component-container">
      <div class="side-bar">
        <app-sidebar></app-sidebar>
      </div>
    </div>
    <div class = "content-container">
      <div class="top-section-container">
        <app-top-section></app-top-section>
      </div>
    </div>
  </div>
  <div class="router-outlet-container">
    <router-outlet></router-outlet>
  </div>
</div>