<div class="top-bar-main-container">

    <div class="icon-container">
        <i class="fa-solid fa-cube"></i>
    </div>
    <div class="icon-container">
        <i class="fa-solid fa-chart-simple"></i>
    </div>
    <div class="icon-container">
        <i class="fa-regular fa-square-plus"></i>
    </div>
    <div class="icon-container">
        <i class="fa-solid fa-check"></i>
    </div>
    <div class="icon-container">
        <i class="fa-solid fa-gear"></i>
    </div>
    <div class="icon-container">
        <i class="fa-solid fa-download"></i>
    </div>
</div>