<div class="top-bar-main-container">
    <div class="top-bar-container">
        <div class="search-bar-container display-flex">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="top-bar-top-right-container display-flex">
            <div class="right-side-items-container">
                <span class="padded-item language-container">
                    ENG

                    <i class="fa-solid fa-sort-down" style="color: #e6e6e6;"></i>
                </span>
                <span class="padded-item message-container">
                    <i class="fa-regular fa-message" style="color: #b8b8b8;"></i>
                </span>
                <span class="padded-item notifications-container">
                    <i class="fa-regular fa-bell" style="color: #b8b8b8;"></i>
                </span>
                <span class="profile-details-container">
                    <span class="padded-item profile-photo-container">
                        <span class="image-container">
                            <img src="../../assets/head-shot-happy-male-millennial-260nw-2187381837.webp">
                        </span>
                    </span>
                    <span class="padded-item profile-name-container">
                        James Cullinan
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>